body {
  background: #222;
}
.ainmation {
    padding: 10px;
    overflow: hidden;
}
.block_animation {
    height: 200px;
    width: 200px;
    /* border: 2px dashed rgb(0 0 0 / 100%); */
    border: 2px dashed rgb(255 255 255);
    margin-bottom: 20px;
    color: #fff;
    padding: 10px;
}
.red {
    background: red;
}
.red {
    animation: rotate 4s linear 0s infinite;
}
.ball_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(28, 5, 70);
  border-radius: 50%;
  font-size: 100px;
  color: brown;
}
.white {
  background: white;
  border: 10px dashed rgb(0 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 100px;
  color: brown;
}
.black_ball {
  /* background: black; */
  border: 2px dashed rgb(255 255 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 100px;
  color: brown;
}
.content_box {
  display: flex;
}
.box {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
}
.box-1 {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
}
.box-2 {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
}
.box-3 {
  width: 200px;
  height: 200px;
  background-color: #88ce02;
  margin: 50px auto;
}
.box-4 {
  width: 150px;
  height: 150px;
  background-color: #88ce02;
}
.black {
    background: black;
    /* transition: all 3s ease; */
}
.black.active {
    transform: translateX( calc(100vw - 255px));
}
.blue {
    background: blue;
}
.blue {
    animation: scale 4s linear 0s infinite;
}
.gold {
    background: gold;
    /* transform: scale(1, 0.5);
    transition: all 3s ease; */
}
.gold {
    animation: color_animation 4s linear 0s infinite;
}
.green {
    background: green;
    transform: skew(0deg, 175deg);
    transition: all 3s ease;
}
.purple {
    background: rgb(95, 10, 112);
    transform: scale(0.5) translate(100%, -100%);
    transition: all 3s ease;
}
.hello {
    animation: translating 4s linear 0s infinite;
    background: rgb(92, 102, 101);
    color: white;
    height: 60px;
    line-height: 60px;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 60px;
}
  /* BOX-5 */
/* html, body {
  width: 0;
  min-width: 100%;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* body {
  background-color: #222;
  text-align: center;
  color: #bbb;
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 10px 0;
} */
/* h1 {
  margin: 0;
  font-size: 50px;
  text-align: left;
}
h2 {
  font-size: 38px;
  margin-bottom: 0;
}
h1, h2, h3 {
  color: white;
  font-weight: 400;
}
h3 {
  margin-bottom: -12px;
} */
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
a {
  color: #88ce02;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
.box-5-content .container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  padding-bottom: 100px;
}
.box-5 {
  background-color: #88ce02;
  position: relative;
}
.box-5:before {
  padding-top:100%;
  content:"";
  display:block;
}
#instructions {
  margin-top: 35px;
  padding:0 16px 16px 16px;
  text-align: left;
  max-width: 1000px;
  display: inline-block;
}

.code {
  background-color: #111;
  padding: 12px;
  border-radius: 10px;
}
.featured {
  color: white;
}
strong {
  color: white;
  font-weight: 400;
  font-size: 20px;
}
.question {
  color: white;
  font-size: 21px;
  font-weight: 400;
  display: block;
}
#controls {
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
.control {
  display: flex;
  align-items: flex-start;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: white;
  margin-bottom: 10px;
}
.control-label {
  margin-top: 10px;
}
.control-vertical {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
  justify-content: flex-start;
  padding: 6px 8px;
  border-radius: 9px;
  background-color: #111;
  margin-right: 18px;
  color: #bbb;
}

.fr-video {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  float: left;
  padding-bottom: 56.25%;
  margin: 12px 0 35px 0;
}

.fr-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid #444;
}

#instructions li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
  #controls {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* ball-1 */
.ball-1 {
  background: #DB8A74;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.ball-2 {
  background: #DB8A74;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.ball-centre {
  display: flex;
  justify-content: center;
}
.ball-3 {
  background: #DB8A74;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.ball-4 {
  background: #d16b4f;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.ball-5 {
  background: #b63b19;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* BOX-6 */

/* html, body {
  width: 0;
  min-width: 100%;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #222;
  text-align: center;
  color: #bbb;
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 10px 0;
}
h1 {
  margin: 0;
  font-size: 50px;
  text-align: left;
}
h2 {
  font-size: 38px;
  margin-bottom: 0;
}
h1, h2, h3 {
  color: white;
  font-weight: 400;
}
h3 {
  margin-bottom: -12px;
} */
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
a {
  color: #88ce02;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  padding-bottom: 100px;
}
.box-6 {
  background-color: #88ce02;
  position: relative;
}
.box-6:before {
  padding-top:100%;
  content:"";
  display:block;
}
#instructions {
  margin-top: 35px;
  padding:0 16px 16px 16px;
  text-align: left;
  max-width: 1000px;
  display: inline-block;
}

.code {
  background-color: #111;
  padding: 12px;
  border-radius: 10px;
}
.featured {
  color: white;
}
strong {
  color: white;
  font-weight: 400;
  font-size: 20px;
}
.question {
  color: white;
  font-size: 21px;
  font-weight: 400;
  display: block;
}
#controls {
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
.control {
  display: flex;
  align-items: flex-start;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: white;
  margin-bottom: 10px;
}
.control-label {
  margin-top: 10px;
}
.control-vertical {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
  justify-content: flex-start;
  padding: 6px 8px;
  border-radius: 9px;
  background-color: #111;
  margin-right: 18px;
  color: #bbb;
}

.fr-video {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  float: left;
  padding-bottom: 56.25%;
  margin: 12px 0 35px 0;
}

.fr-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid #444;
}

#instructions li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
  #controls {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
/* end  */
/* .animation_content {
    height: 200px;
    width: 200px;
    background: rgb(170, 148, 148);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
} */
.animation_content {
    animation: scaling 10s linear 0s infinite;
    background: goldenrod;
    border-radius: 60px;
    color: white;
    height: 120px;
    line-height: 120px;
    margin-top: 2rem;
    ;
    text-align: center;
    transition: all 100ms linear;
    width: 120px;
  }
p {
    animation: scaling-toggle 10s steps(1) 0s infinite forwards;
    background: white;
    color: grey;
    /* left: 2rem; */
    margin: 0;
    opacity: 0;
    padding: 0 0.5em;
    position: absolute;
    /* top: 2rem; */
    right: 1;
    z-index: 1;
  }

  p:first-child {
    left: 0;
    position: relative;
    top: 0;
  }

  p:nth-child(2) {
    animation-delay: 2s;
  }

  p:nth-child(3) {
    animation-delay: 4s;
  }

  p:nth-child(4) {
    animation-delay: 6s;
  }

  p:nth-child(5) {
    animation-delay: 8s;
  }

  p strong {
    content: "";
    display: inline-block;
  }
  /* //new */
  .zoom-animation {
    perspective: 500px;
  }

  .zoom-animation div,
  .zoom-animation,
  .title {
    background: midnightblue;
    color: white;
    height: 200px;
    line-height: 200px;
    margin: 0;
    position: relative;
    text-align: center;
    width: 200px;
  }

  .zoom-animation span {
    animation: zooming 5s alternate infinite both;
    background: limegreen;
    left: 2rem;
    opacity: 0.7;
    position: absolute;
    top: 2rem;
  }
  .Loading {
    animation: bouncing 0.5s cubic-bezier(.1,.25,.1,1) 0s infinite alternate both;
    background: lightslategrey;
    border-radius: 2px;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    padding: 1em 2em 1.1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    margin-top: 50px;
  }
  @keyframes bouncing{
    0%  { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5);}
    100%{ bottom: 50px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
  }

  @keyframes zooming {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 200px);
    }
  }

  @keyframes scaling {
    0% {
      transform: scale(1);
    }
    19% {
      transform: scale(1);
    }
    20% {
      transform: scale(2);
    }
    39% {
      transform: scale(2);
    }
    40% {
      transform: scale(0.5);
    }
    59% {
      transform: scale(0.5);
    }
    60% {
      transform: scale(0);
    }
    79% {
      transform: scale(0);
    }
    80% {
      transform: scale(-1);
    }
    99% {
      transform: scale(-1);
    }
    100% {
      transform: scale(1);
    }
  }

@keyframes scaling-toggle {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
@keyframes translating {
  0%  { transform: translate(0, 0);}
  25% { transform: translate(240px, 0);}
  50% { transform: translate(240px, 140px);}
  75% { transform: translate(0, 140px);}
  100%{ transform: translate(0, 0);}
}
@keyframes rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes scale {
    0%   { transform: scale(0); }
    100% { transform: scale(100%); }
}
@keyframes color_animation {
    0%   { background: red; }
    50% { background: rgb(107, 79, 79); }
    100%   { background:red; }
}